/*********************
IMPORTING PARTIALS
These files are needed at the beginning so that we establish all
our mixins, functions, and variables that we'll be using across
the whole project.
*********************/

// Sass generated variables
@import "partials/variables_generated";

// Sass variables
@import "partials/variables";

// import mixins
@import "partials/mixins";

// the grid
@import "partials/grid";

/*********************
IMPORTING MODULES
Modules are reusable blocks or elements we use throughout the project.
We can break them up as much as we want or just keep them all in one.
I mean, you can do whatever you want. The world is your oyster. Unless
you hate oysters, then the world is your peanut butter & jelly sandwich.
*********************/

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

// elegant theme icons
@import "modules/_icons";

/*********************
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*********************/

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 481px) {

	// styles in 481up.scss
	@import "breakpoints/481up";

} // end of media query

/*********************
TABLET PORTAIT
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {

	// styles in 768up.scss
	@import "breakpoints/768up";

} // end of media query

/*********************
SMALL DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 981px) {

	// styles in 981up.scss
	@import "breakpoints/981up";

} // end of media query

@media only screen and (min-width:1025px) {

	// styles in 1025up.scss
	@import "breakpoints/1025up";

} // end of media query

/*********************
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 1100px) {

	// styles in 1100up.scss
	@import "breakpoints/1100up";

} // end of media query

@media only screen and (min-width: 1241px) {

	// styles in 1241up.scss
	@import "breakpoints/1241up";

} // end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1405px) {

	// styles in 1405up.scss
	@import "breakpoints/1405up";

} // end of media query

/*********************
SPECIFIC RANGES ONLY
*********************/
    
// styles in onlyrange.scss
@import "breakpoints/onlyrange";