/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

/*%btn {
    font-size: 1.3em;
    border-width: $button_border_width;
    border-radius: $button_border_radius;
    letter-spacing: $button_spacing;
    display: inline-block;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    padding: 0.3em 1em;
    line-height: 1.7em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    
    @if $button_use_icon == "yes" and $button_icon_placement == "right" and not $button_icon_on_hover == "yes" {
        padding-right: 2em;
        padding-left: .7em;
    }
    
    @if $button_use_icon == "yes" and $button_icon_placement == "left" and not $button_icon_on_hover == "yes" {
        padding-right: .7em;
        padding-left: 2em;
    }

    &:hover, &:focus {
        border-radius: $button_border_radius_hover;
        letter-spacing: $button_spacing_hover;
        text-decoration: none;
        outline: none;
        
        @if $button_use_icon == "yes" and $button_icon_placement == "right" {
            padding-right: 2em;
            padding-left: .7em;
        }

        @if $button_use_icon == "yes" and $button_icon_placement == "left" {
            padding-right: .7em;
            padding-left: 2em;
        }
    }
    
    &:after,
    &:before {
        content: $button_icon_content;
        font-family: ETmodules!important;
        font-weight: 400;
        font-style: normal;
        font-variant: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        line-height: 1;
        text-transform: none;
        speak: none;
        position: absolute;
        opacity: 0;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        transition: all .2s;
    }
    
    &:before {
        margin-left: -1em;
    }
    
    &:after {
        margin-right: -1em;
    }
    
    @if $button_use_icon == "yes" and $button_icon_placement == "right" and not $button_icon_on_hover == "yes" {
        &:after {
            opacity: 1;
        }
    }
    @if $button_use_icon == "yes" and $button_icon_placement == "left" and not $button_icon_on_hover == "yes" {
        &:before {
            opacity: 1;
        }
    }

}

.button {
    @extend %btn;
    background: $button_bg_color;
    color: $button_text_color;
    border-color: $button_border_color;
    
    &:before,
    &:after {
        color: $button_icon_color;
        font-size: 1.6em;
    }

    &:hover,
    &:focus {
        background: $button_bg_color_hover;
        color: $button_text_color_hover;
        border-color: $button_border_color_hover;
        
        @if $button_use_icon == "yes" and $button_icon_placement == "right" {
            &:after {
                opacity: 1;
            }
        }
        @if $button_use_icon == "yes" and $button_icon_placement == "left" {
            &:before {
                opacity: 1;
            }
        }
    }
}

.button-large {
    @extend .button;
    font-size: $button_text_size;
    
    &:before,
    &:after {
        font-size: $button_icon_size;
    }
}*/

%btn {

    border-style: solid;
    border-width: 1px;
    text-align: center;
    text-transform: uppercase;

}

%btn-solid {
    
    @extend %btn;
    @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
    @include transition(all .3s ease-in-out);
    color: $white !important;
    
    &:hover {
        
        @include box_shadow(unset);
        background: $white;
        
    }
    
}

.btn-solid-blue {
    
    @extend %btn-solid;
    background: $color-blue-a !important;
    border-color: $color-blue-a !important;
    
    &:hover {
        
        background: $white !important;
        border-color: $color-blue-a !important;
        color: $color-blue-a !important;
        
    }
    
}

.btn-solid-green {
    
    @extend %btn-solid;
    background: $color-green-m !important;
    border-color: $color-green-d !important;
    
    &:hover {
        
        background: $white !important;
        border-color: $color-green-d !important;
        color: $color-green-m !important;
        
    }
    
}

%btn-solid-yellow {
    
    @extend %btn-solid;
    @include box_shadow(unset !important);
    background: $color-yellow-d !important;
    border-color: $color-yellow-d !important;
    color: $white !important;
    
    &:hover {
        
        color: $color-yellow-d !important;
        
    }
    
}

.btn-solid-yellow {
    
    @extend %btn-solid-yellow;
    @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16) !important);
    
    &:hover {
        
        @include box_shadow(unset !important);
        
    }
    
}

%btn-invert {
    
    @extend %btn;
    @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
    @include karma_reg();
    @include transition(all .3s ease-in-out);
    background: $white !important;
    color: $color-grey-l !important;
    /*font-family: $font-majesti-medium;*/
    font-size: 26px !important;
    text-transform: initial;
    
    &:hover {
        
        @include box_shadow(unset);
        color: $white !important;        
        
    }
    
}

.btn-invert-yellow {
    
    @extend %btn-invert;
    
    &:hover {
        
        background: $color-yellow-d !important;
        
    }
    
}

%btn-hollow {
    
    a {
        
        @extend %btn;
        @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
        padding: 14px 10%;
        
    }
    
    &:hover {
        
        @include box_shadow(unset);
        @include transition(all .3s ease-in-out);
        
        a{
            
            @include box_shadow(unset);
            @include transition(all .3s ease-in-out);
            
        }
        
    }
    
}

.btn-hollow-yellow {
    
    @extend %btn-hollow;
    
    a {

        border-color: $accent-color;
        color: $accent-color;        

    }
    
    &:hover {
        
        a {
            
            background: $accent-color;
            color: $white;
            
        }
        
    }
    
}

.col_hollow_btns {
    
    .et_pb_button_module_wrapper {
        
        @extend %btn-hollow;
        margin-bottom: 15px !important;
        
        &:last-child {
            
            margin-bottom: 0 !important;
            
        }
        
        .et_pb_button {
                      
            @include karma_reg();
            background: transparent;
            color: $color-grey-l !important;
            /*font-family: $font_majesti_medium;*/
            font-size: 24px !important;
            line-height: 1.385 !important;
            padding-bottom: .5em !important;
            padding-top: .5em !important;
            text-align: left;
            text-transform: initial;
            width: 100%;
            
            &:hover {
                
            @include box_shadow(unset);
            background: $white !important;
                
            }
                        
        }
        
        .active {
            
            @include box_shadow(unset);
            background: $white !important;
            
            &:hover {
                
                color: $color-grey-l !important;
                background: $white !important;
                
            }
            
            
        }
        
        .btn-toggle-hollow-yellow {
            
            border-color: $color-yellow-d;
            
        }
        
        .btn-solid-yellow {
            
            @extend %btn-solid-yellow;
            color: $white !important;
            
        }
        
    }
    
}

.form-btn {
    
    @extend %btn-solid;
    margin-left: 0;
    width: 100%;
    
    &:hover{
        
        @include box_shadow(unset);
        background: $white;
        
    }
    
}