

/*************************************/
/*********** Header Start ************/
/*************************************/

.header_menu {
    
    .menu-item {
        
        a {
            
            font-size: 13px;
            
        }
        
    }
    
}

#top-menu{

    .menu-item{
                
        &:last-child{

            min-width: 202.547px;
            
            a{
                
                padding: 14px 10%;
                
            }

        }

    }
    
}

/*************************************/
/************ Header End *************/
/*************************************/

/*************************************/
/************ Main Start *************/
/*************************************/

/*** fullwidth header module start ***/
.et_pb_fullwidth_header {
    
    .et_parallax_bg {
        
        background-position-x: 50%;
        
    }
    
    .et_pb_fullwidth_header_container {
                
        width: 86%;
        
    }
    
}
/**** fullwidth header module end ****/

/******* Investors Slider start *******/
.investors_slider {
    
    .et_pb_testimonial {

        display: table;
        width: 100%;
        
        .et_pb_testimonial_portrait,
        .et_pb_testimonial_description {
            
            display: table-cell;
            vertical-align: middle;
            
        }
        
        .et_pb_testimonial_portrait {
            
            background-size: 80%;
            background-position: left center;
            
        }
        
        .et_pb_testimonial_description {
            
            padding-left: 40px;
            
        }
                
    }
    
}
/******** Investors Slider end *******/

/******** Circle Button start ********/
.btn_circle {
    
    h3 {
        
        font-size: 22px;
        
    }
    
}
/********* Circle Button end *********/

/*************************************/
/************* Main End **************/
/*************************************/

.footer-widget {
        
    .textwidget {

        max-width: 714px;

    }

}