/******************************************************************
Stylesheet: Desktop Stylesheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

@include headSizes((1, 42) (2, 32));

.header_menu {
    
    .menu-item {
        
        a {
            
            font-size: 15px;
            
        }
        
    }
    
}