.text_sep {

    display: inline-block;
    width: 100%;
    
}

.blurb_color_line_code {
    
    max-width: 895px;
    
}

#top-menu {
    
    .menu-item {
        
        &:not(:last-child) {
            
            padding-right: 22px;
            
        }
        
    }
    
}

/*************************************/
/************ Main Start *************/
/*************************************/

/****** Sections and Rows start ******/

.row_blurbs_line_cols_2 {
    
    width: 90%;
    
}

.row_split_content_invest_contact {

    .row_split_content_img_invest_contact {

        min-height: 900px;

    }
    
}
/******* Sections and Rows end *******/

/********* Text module start *********/
.btn_circle {
        
    h3 {

        font-size: 22px !important;

    }
    
    
}
/********** Text module end **********/

/******* Investors Slider start *******/
.investors_slider {
    
    .et_pb_testimonial {        
        
        .et_pb_testimonial_portrait {
            
            background-size: 90%;
            
        }
        
    }
    
}
/******** Investors Slider end *******/

/******** Circle Button start ********/
.btn_circle {
    
    h3 {
        
        font-size: 26px;
        
    }
    
}
/********* Circle Button end *********/

/********* Blurb module start ********/
.blurb_color {
    
    .et_pb_blurb_content {
        
        max-width: 895px;
        
        .et_pb_blurb_container {
            
            padding-left: 50px;
            
        }
        
    }
    
}

.stacked_blurb {
    
    .et_pb_blurb_content {
        
        .et_pb_blurb_container {
            
            padding-left: 0;
            
        }

    }

}
/********** Blurb module end *********/

.image_book_home {
    
    img {
        
        max-height: 335px;
        
    }
    
}

/********** Blog module start ********/
.blog_overlay_module_grid {
    
    .post-content {
        
        height: 64.3%;
        
    }
    
}
/********** Blog module end *********/

/********** Single Post start ********/
.single {
    
    .et_social_inline_bottom {

        left: 0px;

    }
    
}
/*********** Single Post end *********/
/*************************************/
/************* Main End **************/
/*************************************/


/*************************************/
/*********** Footer Start ************/
/*************************************/

.footer-widget {

    .widget_nav_menu {
        
        width: calc(100% - 67px);
                
    }
    
    .textwidget{

        max-width: unset;
        text-align: unset;

    }

}

/*************************************/
/************ Footer End *************/
/*************************************/