/******************************************************************
Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*************************************/
/************ Main Start *************/
/*************************************/

/*** fullwidth header module start ***/
.et_pb_fullwidth_header {
    
    .et_parallax_bg {
        
        background-position-x: 20%;
        
    }
        
}
/**** fullwidth header module end ****/

/******* Contact module start ********/
.et_pb_contact_form_container {
        
    .et_contact_bottom_container {
        
        padding-top: 6px;

    }
    
}
/********* Contact module end *********/

/******* Infusionsoft form start ********/
.infusionsoft-form {
        
    .et_contact_bottom_container {
        
        padding-top: 6px;

    }
    
}
/********* Infusionsoft form end *********/

/****** Accordion module start *******/
.module_accordion_content {
        
    .et_pb_toggle_content {
        
        table {
            
            font-size: 16px;
            
        }
        
    }
    
}
/******* Accordion module end ********/

/********* Blurb module start ********/
.stacked_blurb.mobile {
    
    display: inline-block;
    vertical-align: top;
    width: 47.25%;

    &:nth-child(even) {
        
        margin-right: calc(5.5% - 5px);
        
    }
    
}
/********** Blurb module end *********/

/********** Blog module start ********/
.blog_overlay_module_grid {
    
    .entry-title {
        
        font-size: 20px;

    }
    
}
/********** Blog module end *********/

/********** Single Post start ********/
.single {
    
    .entry-title {
        
        font-size: 28px;
        
    }
    
}
/*********** Single Post end *********/  

/*************************************/
/************* Main End **************/
/*************************************/