/******************************************************************
Stylesheet: Tablet Portrait Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {
    
    ul {
        
        li {
            padding-right: 1em;
            
            a {
                border: none;
                border-right: 1px solid $border-color;
            }
            
            &:last-child {
                border-bottom: none;
            }
            
            &.is-active {
                
                a {
                    border-top: 1px solid $border-color;
                    border-bottom: 1px solid $border-color;
                    border-right: none;
                }
            }
        }
    }
}

/**
 * Tribe The Events Calendar
 */

#tribe-events-content-wrapper {
    
    .tribe-events-list {

        div.tribe-events-content {
            float: right;
            padding-right: 0;
            width: 54%;
        }
    }
}

/*************************************/
/************ Main Start *************/
/*************************************/

/****** Sections and Rows start ******/
.row_split_content_img {
    
    background-position: center !important;
    min-height: 715px;
    
}

.team_row {
    
    width: 90%;
    
}

.team_section {
    
    padding: 8% 0;
    
}

.row_optin_cover,
.row_optin_proper {
    
    width: 90%;
    
}

.row_optin_proper {
        
    padding: 6% 0;
    
}

.row_blurbs_line {
    
    width: 94%;
    
}

.row_blurbs_line_cols_2 {
    
    .et_pb_column {
        
        &:first-child {
            
            margin-bottom: 0 !important;
            
        }
        
    }
    
}
.blog_overlay_module_grid_section {
    
    padding-top: 0 !important;
    
}
.blog_overlay_module_grid_row {
    
    padding-top: 0 !important;
    width: 100%;
    
}
/******* Sections and Rows end *******/

/*** fullwidth header module start ***/
.et_pb_fullwidth_header {
    
    .et_pb_fullwidth_header_container {
                
        .header-content{
            
            margin: 20px 0 !important;
            padding: 0 !important;
            background: unset;
            
        }
        
    }
    
    .et_pb_header_content_wrapper {
        
        background: transparent;
        padding: 0;
        
        .contain_head{
            
            display: block;
            
            &:last-child{
                
                margin-top: 33px;
                padding-left: 0;
                
            }
            
        }
        
        h1{
            
            background: rgba($color-blue-a, 0.6);
            padding: 5px 15px 6px;
            line-height: 1;
            
        }
        
    }
    
}
/**** fullwidth header module end ****/

/******* Contact module start ********/
.et_pb_contact_form_container {
        
    .et_contact_bottom_container {
        
        padding-top: 10px;

    }
    
}
/********* Contact module end *********/

/******* Infusionsoft form start ********/
.infusionsoft-form {
        
    .et_contact_bottom_container {
        
        padding-top: 10px;

    }
    
}
/********* Infusionsoft form end *********/

/******** Person module start ********/
.line_code {
    
    display: block;
    
}

.et_pb_team_member {

    display: table;
    margin-bottom: 0 !important;
    width: 100%;
    
    .et_pb_team_member_image,
    .et_pb_team_member_description {
        
        vertical-align: top;
        float: none;
        
    }
    
    .et_pb_team_member_image {
        
        width: 200px;
        
    }
    
    .et_pb_team_member_description {
        
        padding-left: 30px;
        
    }
    
    &:last-child {
        
        .toggle_person {
            
            &::before {
                
                display: none;
                
            }
            
        }
        
    }
    
}

/********* Person module end *********/

/******** Toggle module start ********/
.toggle_person {
       
    &::before {

        background: #707070;
        content: '';
        display: inline-block;
        height: 100%;
        left: -130px;
        position: absolute;
        visibility: visible;
        width: 1px;
        z-index: 0;

    }
    
}
/********* Toggle module end *********/

/******* Investors Slider start *******/
.investors_slider {
    
    .et_pb_testimonial {
        
        padding: 15px 30px;
        
        .et_pb_testimonial_portrait {
            
            float: none;
            margin: 0 auto 30px;
            
        }
        
        .et_pb_testimonial_description {
            
            margin-left: 0 !important;
            
        }
        
    }
    
    .slick-dots {
        
        padding-bottom: 0;
        
        li{
           
            width: 19px;
            height: 19px;
            
        }
                
    }
    
}
/******** Investors Slider end *******/

/***** Optin Sliding module start ****/
.optin_module_proper {
    
    .et_pb_newsletter_form {
        
        padding-left: 0;
        width: 100%;
        
        input {
            
            margin-bottom: 0;
            
        }
        
        p {
            
            display: inline-block;
            width: 33.3%;
            margin-right: 1%;
            vertical-align: middle;
            
            &:last-of-type {
                
                width: 30%;
                margin-right: 0;
                
            }
            
        }
        
        .et_pb_newsletter_button {
            
            vertical-align: top;
            max-height: 52px;
            
        }
        
    }

}
/****** Optin Sliding module end *****/

/********* Blurb module start ********/
.blurbs_line {
    
    margin-bottom: 0 !important;    
    
    .et_pb_blurb_content {

        display: table;
        min-height: 150px;
        width: 100%;
        
        .et_pb_main_blurb_image,
        .et_pb_blurb_container {
            
            display: table-cell;
            vertical-align: top;
            
        }
        
        .et_pb_main_blurb_image {
            
            position: relative;
            height: 82px;
            width: 82px;
            
            .et_pb_image_wrap {
                
                height: inherit;
                width: inherit;
                
            }
            
            &::before {
                
                display: inline-block;
                
            }
            
        }
        
        .et_pb_blurb_container {
            
            max-width: unset;
            padding-left: 27px;
                        
        }
        
    }
 
}

.row_blurbs_line_cols_2 {

    .et_pb_column {

        &:first-child {

            .blurbs_line {

                &:first-child {

                    .et_pb_blurb_content {

                        .et_pb_main_blurb_image {

                            &::before {

                                height: 50%;
                                top: 82px;

                            }

                        }

                    }

                }

            }

        }
        
        &:last-child {
            
            .blurbs_line {

                &:last-child {

                    .et_pb_blurb_content {

                        .et_pb_main_blurb_image {

                            &::before {

                                display: none !important;

                            }

                        }

                    }

                }

            }
            
        }

    }

}

.blurb_color {
    
    .et_pb_blurb_content {
        
        max-width: unset;
        min-height: 180px;
        
    }
    
    .et_pb_blurb_container {
        
        padding-bottom: 68px;
        vertical-align: middle !important;
        
    }
    
}

.row_blurbs_color {

    .blurb_color {
        
/*        &:first-child,
        &:last-child {

            .et_pb_blurb_content {

                .et_pb_main_blurb_image {

                    &::before {

                        height: 50%;

                    }

                }

            }

        }*/

        &:last-child {

            .et_pb_blurb_content {

                .et_pb_main_blurb_image {

                    &::before {

                        display: none;

                    }

                }

            }

        }
        
    }

}

.blurbs_num_7 {

    .et_pb_blurb_content {

        .et_pb_main_blurb_image {

            &::before {

                display: none;

            }

        }

    }

}

.stacked_blurb {

    display: inline-block;
    vertical-align: top;
    width: 47.25%;
    
    .et_pb_blurb_content {

        display: block;

        .et_pb_main_blurb_image,
        .et_pb_blurb_container {

            display: block;
            text-align: center;

        }
        
        .et_pb_blurb_container {
            
            padding-left: 0;
            
        }

    }

    &:nth-child(odd) {
        
        margin-right: calc(5.5% - 5px);
        
    }

}

/********** Blurb module end *********/

/********* Tabs module start *********/
.et_pb_tabs {
        
    .et_pb_tabs_controls {
        
        &::after {
            
            border-color: $color-yellow-d;
            
        }
        
        li {
            
            border-bottom: 1px solid $color-yellow-d;
            border-right: 0;
            float: none;
            width: 100%;
            
            a {
                

                
            }
            
        }
        
    }
    
    .et_pb_tab {
        

        
    }
    
}
/********** Tabs module end **********/

/********* Code module start *********/
.blurb_num_line_code,
.blurb_color_line_code{

    background: transparent;
    display: block;
    height: calc(150px - 41px);
    margin: 0 auto;
    margin-top: -68px;
    max-width: 550px;
    padding-left: 41px;
    position: relative;
    width: 100%;
    
    .et_pb_code_inner {
        
        background: #707070;
        height: 100%;
        width: 1px;
        
    }

}

.blurb_color_line_code {
    
    height: calc(180px - 112px);
    max-width: unset;
    padding-left: 56px;
    
}

.code_line_module {
        
    .et_pb_code_inner {

        background: $menu-grey;
        height: 0;
        left: 100px;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: -1;

    }

}
/********** Code module end **********/

/********** Blog module start ********/
.blog_overlay_module_grid {
    
    .et_pb_post {
        
        margin-bottom: 0 !important;
        
    }
    
    .et_pb_salvattore_content {
        
        @include clearfix;
        position: relative;            
        
        .column.size-1of2 {
            
            margin-right: 0 !important;
            width: 50% !important;
            
        }
        
    }
            
    .pagination {
        
        @include clearfix;
        left: 0;        
        position: absolute;
        bottom: 0;
        width: 100%;
        
    }
    
}
/********** Blog module end *********/

/********** Single Post start ********/
.single {
    
    .entry-title {
        
        font-size: 34px;
        
    }
    
        
    .ws_single_meta {
        
        line-height: 1.375;
        
        span {
            
            display: inline;
            vertical-align: middle;
            width: auto;
            
        }
        
        .ws_meta_div {
            
            display: inline-block;
            
        }
        
    }
    
    .entry-content {
        
        position: relative;
        
    }
    
    .et_social_inline_top {
        
        display: none;
        
    }
    
    .et_social_inline_bottom {
        
        display: block;
        position: absolute;
        top: 0;
        left: -20px;
        margin-top: 0;
        height: 100%;
        
        .et_social_networks {
            
            position: sticky;
            top: 40vh;
            
        }
        
    }
    
}
/*********** Single Post end *********/  

/*************************************/
/************* Main End **************/
/*************************************/

/*************************************/
/*********** Footer Start ************/
/*************************************/

#footer-widgets {

    .footer-widget {

        .widget_nav_menu {
            
            margin-bottom: 9.5%;
            text-align: right;

        }
        
        .et_pb_widget.widget_monarchwidget {
            
            margin-bottom: 9.5%;
            
        }
        
        .widget_monarchwidget {            
            
            .et_social_icons_container {

                li {

                    margin-left: 0;

                }

            }

        }

    }

}

/*************************************/
/************ Footer End *************/
/*************************************/