/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

@include headSizes((1, 40) (2, 34));

/*************************************/
/*********** Header Start ************/
/*************************************/

.header_menu {
    
    .menu-item {
        
        a {
            
            font-size: 12px;
            
        }
        
    }
    
}

#top-menu {
    
    .menu-item {
        
        &:not(:last-child) {
            
            padding-right: 11px;
            
        }
        
    }
    
}

#main-header {
    
    z-index: 8888 !important;
    
}

#et-top-navigation{
    
    padding-top: 30px !important;
    
}

#backgr_fade {
    
    display: block;
    
}
/*************************************/
/************ Header End *************/
/*************************************/

.blurb_color_line_code {
    
    max-width: 770px;
    
}

/*************************************/
/************ Main Start *************/
/*************************************/

/****** Sections and Rows start ******/
.et_pb_section {
    
    overflow-x: hidden;
    
}

.row_background_logo {
    
    padding: 8.2% 0;
    
}

.row_who_is_euphoric {
    
    padding-bottom: 1%;
    
}

.row_split_content {
    
    .et_pb_column {
        
        width: 50%;
        margin-right: 0;
        padding: 4%;
        min-height: 750px;
        
    }

}

.row_split_content_content {
    
    margin-bottom: 0 !important;
    
}

.row_split_content.invert {
    
    @include flex_box;
    direction: rtl;
    
    .et_pb_column {
        
        direction: ltr;
        
    }
    
}

.row_split_content_img {
    
    min-height: unset;
    
}

.row_split_content_invest_contact {

    max-height: 750px;

    .row_split_content_img_invest_contact {

        min-height: 850px;

    }
    
}

.row_optin_cover {
    
    .et_pb_column {
        
        width: 50% !important;
        margin: 0 !important;
        padding-right: 1.5%;
        
        &:last-child {
            
            padding-right: 0;
            padding-left: 1.5%;
            
        }
                
    }
    
}

.row_optin_proper {
        
    padding: 0;
    
}

.row_buttons_circle.desktop,
.row_circle_btn_content.desktop {
    
    display: block;
    
}

.row_accordion_content {
    
    display: none;
    
}

.row_contact_map {
    
    .et_pb_column {
        
        min-height: unset;
        
        &:last-child {
            
            padding: 0 !important;
            
        }
        
    }
    
}

/******* Sections and Rows end *******/

/*** fullwidth header module start ***/
.et_pb_fullwidth_header {
    
    .et_parallax_bg {
        
        background-position-x: 40%;
        
    }
    
    .contain_head {
        
        /*opacity: 0;*/
        
    }
        
}

#header_modal_btns {
    
    .et_pb_button_one {
        
        display: inline-block !important;
        
    }
    
    .et_pb_button_two {
        
        display: none;
        
    }
    
}
/**** fullwidth header module end ****/

/********* Text module start *********/
.text_sep {

    display: inline;
    width: auto;

}

.text_header_block {
    
    margin-bottom: 2em !important;
    
    h2 {
        
        margin-bottom: 1.8em;
        min-width: 540px;
                
    }
    
}

.text_header_block_green {
    
    h2 {
        
        padding: .5em 1em;
        
    }
    
}

.text_header_block_yellow.has_subheading,
.text_header_block_green.has_subheading {
    
    margin-bottom: 1em !important;
    
}

.text_img_background {

    .text_sep {

        display: inline;
        width: auto;

    }

}

.text_home_ebook {
    
    p {
        
        line-height: 1.3;
        
    }
    
}

.image_book_home {
    
    img {
        
        max-height: 395px;
        
    }
    
}

.text_header_block_header_only {
    
    h2 {
        
        margin-bottom: 0;
        
    }
    
}

/********** Text module end **********/

/******* Investors Slider start *******/
.investors_slider {
    
    .et_pb_testimonial {
        
        margin-bottom: 1% !important;
        
    }
    
}
/******** Investors Slider end *******/

/***** Optin Sliding module start ****/

.row_optin_cover {

    .optin_cover_text {

        text-align: right;

    }
    
    .et_pb_button_module_wrapper {

        text-align: left;

    }

}

/****** Optin Sliding module end *****/

/********* Blurb module start ********/
.blurbs_line {
    
    &:first-child {
        
        .et_pb_blurb_content {
            
            .et_pb_main_blurb_image {
                
                &::before {
                    
                    height: 50%;
                    top: 82px;
                                        
                }
                
            }
            
        }
        
    }
    
    &:last-child {
        
        .et_pb_blurb_content {
            
            .et_pb_main_blurb_image {
                
                &::before {
                    
                    height: 50%;
                    display: none;
                                        
                }
                
            }
            
        }
        
    }
    
}

.blurb_color {
        
    .et_pb_blurb_content {
        
        max-width: 770px;
        margin: 0 auto;
        
        .et_pb_main_blurb_image {
            
            &::before {
                
                top: 112px !important;
                
            }
            
        }
        
        .et_pb_blurb_description {
            
            line-height: 2;
            
        }
        
    }
    
}
/********** Blurb module end *********/

/********** Map module start *********/
.et_pb_map_container,
.et_pb_map {
    
    height: 100% !important;
    
}
/*********** Map module end **********/

/********** Blog module start ********/
.blog_header {
    
    .et_pb_slide {
        

        
        .et_pb_container {
            
            min-height: calc(100vh - 99px);
            
        }
        
        .et_pb_slide_description {
            
            display: inline-block;
            
        }
        
    }
    
}

.blog_overlay_module_grid {
    
    .et_pb_salvattore_content {
        
        @include flex_box;
        
        .column.size-1of3 {            
            
            margin-bottom: 7.5% !important;
            margin-right: 0 !important;
            width: 33.333% !important;           
            
        }
        
    }
    
    .entry-title {
        
        @include transform(translateY(-100%));
        background: rgba(#000, 0.6);
        font-size: 20px !important;
        height: 36%;
        text-align: left;
        
        a {
            
            background: transparent;
            
        }
        
    }
    
    .post-content {
        
        @include transform(translateY(100%));
        display: block;
        height: 64.5%;
        
    }
    
    .pagination {
        
        padding: 0 5%;
        
    }
    
    
    
}
/********** Blog module end *********/

/********** Single Post start ********/
.single {
    
    #main-content {
        
        >.container {
            
            padding-top: 60px;
                        
        }
        
    }
    
}
/*********** Single Post end *********/

/*************************************/
/************* Main End **************/
/*************************************/

/*************************************/
/*********** Footer Start ************/
/*************************************/

#main-footer{
    
    >.container{
        
        width: 90%;
        
    }
    
}

#footer-widgets{
    
    @include flex_box;
    align-items: baseline;
    
}

.footer-widget {
    
    &:first-child{
        
        width: 15.322% !important;
        
    }
    
    &:last-child{
        
        width: 84.678% !important;
        
    }
    
    .widget_nav_menu {
        
        float: left;
        margin-bottom: 20px !important;
        width: calc(100% - 50px);
                
    }
    
    .menu-main-container{
        
        text-align: right;
        
    }
    
    #menu-footermenu {
        
        display: inline-block;
        
        .menu-item {
            
            display: inline-block;
            padding-left: 0;
            padding-right: 22px;
            margin-bottom: 0;
            
            a {
                
                &::before{
                    
                    @include transform(translateY(20px));
                    top: unset;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    
                    
                }
                
                &:hover {
                                        
                    &::before{
                        
                        @include transform(translateY(10px));
                        
                    }
                    
                }
                
            }
            
            &:nth-last-child(2) {
                
                margin-bottom: 0;
                
            }
            
            &:last-child {
                
                padding-right: 0;
                
                a {
                    
                    min-width: 191.09px;
                    max-width: 191.09px;
                    
                }
                
            }
            
        }
        
        .current_page_item {
            
            a {
                                
                &::before{
                    
                    @include transform(translateY(10px));
                    
                }
                
            }
            
        }
        
    }
    
    .et_pb_widget.widget_monarchwidget {
        
        float: right !important;
        margin-bottom: 0 !important;
        
    }
    
    .widget_text {
        
        text-align: right;
        width: 100%;
        
    }
    
    .textwidget {

        max-width: 686px;
        display: inline-block;
        text-align: left;

    }

}

/*************************************/
/************ Footer End *************/
/*************************************/

.et_pb_fullwidth_header {    

    .contain_head {

        &:nth-child(1) {
            
            animation-delay: 1s;
            
        }
        
        &:nth-child(2) {
            
            animation-delay: 1.2s;
            
        }
        
    }

}