/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/**
 * Helpers
 */

.nopad {
    margin: 0 !important;
    padding: 0 !important;
    
    .et_pb_column {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.nopad-top {
    margin-top: 0 !important;
    padding-top: 0 !important;
    
    .et_pb_column {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

.nopad-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    
    .et_pb_column {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}

.et_pb_code {
    
    p {
        padding: 0;
    }
    br {
        display: none;
    }
}

/**
 * Slider
 */
    
.webstreet_slider.et_pb_slider {

    .et_pb_slide {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0;
    }
    
    .et_pb_media_alignment_top {
        
        .et_pb_slide_image,
        .et_pb_slide_video {
            width: 100%;
            text-align: left;
            margin: 0;
            position: relative;
        }
    }
    
    .et_pb_slide_with_image {
        
        .et_pb_slide_description {
            float: none;
            width: 100%;
            margin: 0 0 1.5em;
            padding: 0 0 0 25px;
            
            .et_pb_slide_title {
                margin-top: 1em;
            }
        }
    }
}

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {
    
    ul {
        list-style: none;
        padding: 0 !important;
        margin-bottom: 2em;
        
        li {
            list-style: none;
            
            a {
                font-size: 1.1em;
                border: 1px solid $border-color;
                border-bottom: none;
                display: block;
                width: 100%;
                padding: 0.5em 0.5em 0.5em 0.8em;
            }
            
            &:last-child {
                border-bottom: 1px solid $border-color;
            }
            
            &.is-active {
                
                a {
                    border-left: 2px solid $black;
                    font-weight: bold;
                }
            }
        }
    }
}

/*************************************/
/********** Helpers Start ************/
/*************************************/

body {
    
    font-family: $font_segoe_reg;
    line-height: 1.3;
    
}

.et_pb_section {
    
    overflow: hidden;
    
}

.et_pb_row {
    
    max-width: 1366px;
    
}

h1 {
    
    color: $color-grey-d !important;
    
}

h2, h3, h4 {
    
    /*color: $color-grey-l !important;*/
    
}

p {
    
    color: rgba($color-grey-d, .7);
    
}

.more-link {
    
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    
}

/*************************************/
/*********** Helpers End *************/
/*************************************/

#main-header{
    
    z-index: 8888 !important;
    
    >.container {
        
        max-width: calc(1366px + 60px);
        
    }
    
}

#wpadminbar {
    
    z-index: 9000 !important;
    
}

#backgr_fade {
    
    background: #ebebeb;
    display: none;
    height: 100%;
    margin-bottom: 0 !important;
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 10;
    
}

/*************************************/
/*********** Header Start ************/
/*************************************/

.header_menu {
    
    .menu-item {
        
        text-transform: uppercase;
        
        a {
            
            @include transition(all 0.3s ease-in-out);
            position: relative;
            font-size: 15px;
            font-weight: 400;
            
            &::before {
                
                @include transition(all 0.3s ease-in-out);
                content: '';
                background: $accent-color;
                display: inline-block;
                position: absolute;
                left: 0;
                opacity: 0;
                                
            }
            
            &:hover {
                
                opacity: 1;
                
                &::before{
                    
                    opacity: 1;
                    
                }
                
            }
            
        }

        &:last-child{
            
            @extend .btn-hollow-yellow;
            
            a{
                
                &::before{
                    
                    display: none;
                    
                }
                
            }
            
        }
        
    }
    
    .current-menu-item{
        
        a{
            
            &::before{
                
                opacity: 1;
                
            }
            
        }
        
    }
    
}

.head_sub_menu {

    .menu-item {

        border-bottom: 1px solid rgba(0,0,0,.03) !important;        

        &:nth-last-child(2) {

            margin-bottom: 0;

        }

        &:last-child {

            a {

                @include box_shadow(unset);
                border: 0 !important;
                color: $menu-grey;
                padding: 10px 5%;
                text-align: left;

                &::before {

                    @include transition(all 0.3s ease-in-out);
                    content: '';
                    background: $accent-color;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    opacity: 0;

                }

                &:hover {

                    &::before {

                        opacity: 1;

                    }

                }

            }

            &:hover {

                a {

                    background: rgba(250, 166, 52, .05);

                }

            }

        }

    }

}

#mobile_menu, #top-menu {
    
    @extend .header_menu;   
    
}

#mobile_menu {
    
    .menu-item {
        
        a {
            
            &::before{
                
                @include transform(translateX(-12px));                
                top: 0;
                height: 100%;
                width: 3px;
                
            }
            
            &:hover {
                
                background: rgba(250, 166, 52, .05);
                
                &::before{
                    
                    @include transform(translateX(0)); 
                    
                }
                
            }
            
        }
        
        &:nth-last-child(2) {
                        
            margin-bottom: 10px;
            
            a{
                
                border-bottom: 0;
                
            }
            
        }
        
    }
    
    .current-menu-item{
        
        a{
            
            background: rgba(250, 166, 52, .05);
            
            &::before{
                
                @include transform(translateX(0));
                
            }
            
        }
        
    }
    
    .menu-item-has-children {
        
        >a {
            
            display: none;
            
        }
        
    }
    
    .sub-menu {
        
        @extend .head_sub_menu;
        padding-left: 0 !important;
        
        .menu-item {
            
            padding-left: 0;
            
        }
        
    }
    
}

#top-menu {
    
    .menu-item {
        
        a {
            
            &::before {
                
                @include transform(translateY(-22px));
                bottom: 0;
                width: 100%;
                height: 2px;
                
            }
            
            &:hover {
                
                &::before {
                
                    @include transform(translateY(-30px));
                
                }
                
            }
        
        }
        
        &:last-child {
            
            min-width: 191.09px;
            max-width: 191.09px;
            
        }
                
    }
    
    .current-menu-item {
        
        a {
            
            &::before {
                
                @include transform(translateY(-30px));
                
            }
            
        }
    
    }
    
    .sub-menu {
        
        @extend .head_sub_menu;
        
        .menu-item {
            
            padding: 0 20px !important;
            
            a {
                
                &::before {
                    
                    @include transform(translateX(-12px));
                    height: 100%;
                    width: 2px;
                    
                }
                
                &:hover {
                    
                    background: rgba(250, 166, 52, .05);
                    
                    &::before {
                        
                        @include transform(translateX(0)); 
                        
                    }
                    
                }
                
            }
            
            &:last-child {
                
                a {
                    
                    padding: 6px 20px !important;
                    
                }
                
            }
            
        }
        
    }
    
}

.et-fixed-header {
    
    #et-top-navigation {
        
        padding-top: 13px !important;
        
    }
    
    #top-menu {
        
        .menu-item {
            
            a {
                
                padding-bottom: 30px !important;
                
                &::before {
                    
                    @include transform(translateY(-12px));
                    
                }
                
                &:hover{
                    
                    &::before{
                        
                        @include transform(translateY(-20px));
                        
                    }
                    
                }
                
            }
            
            &:last-child {
                
                a {
                    
                    padding-bottom: 14px !important;
                    color: $accent-color !important;
                    
                    &:hover {
                        
                        color: $white !important;
                        
                    }
                    
                }
                
            }
            
        }
        
        .menu-item.current-menu-item {
            
            >a {
                
                color: $menu-grey !important;
                
                &::before {
                    
                    @include transform(translateY(-20px));
                    
                }
                
            }
            
        }
        
        .sub-menu {

            .menu-item {

                a {
                    
                    color: $menu-grey !important;
                    padding: 6px 20px !important;
                    
                    &::before {
                        
                        @include transform(translateX(-20px));
                        
                    }
                    
                    
                    &:hover {
                        
                        color: $menu-grey !important;
                        
                        &::before {
                            
                            @include transform(translateX(0));
                            
                        }
                        
                    }

                }

            }

        }
        
    }
    
}


/*************************************/
/************ Header End *************/
/*************************************/

/*************************************/
/************ Main Start *************/
/*************************************/

/****** Sections and Rows start ******/
.section_split_content {
    
    padding: 0;
    
}

.row_split_content {
    
    padding: 0;
    width: 100%;
    
    .et_pb_column {
        
        padding: 8%;
        
    }
    
}

.row_split_content_img {
    
    min-height: 780px;    
    
}

.team_section {
    
    overflow-y: hidden;
    
}

.team_row {
    
    max-height: 100%;
    
/*    &::before{
        
        background: $menu-grey;
        content: '';
        display: none;
        height: calc(100% - 400px);
        top: 100px;
        position: absolute;
        left: 100px;
        width: 1px;
        
    }*/
    
}

.row_optin_cover,
.row_optin_proper {
    
    padding: 0;
        
}

.row_optin_cover {
    
    .et_pb_button_module_wrapper {
        
        text-align: center;
        
    }
    
}

.row_optin_proper {
    
    display: none;
    
}

.col_slidein {
    
    overflow: hidden;
    padding: 0 !important;
    
}

.row_buttons_circle.desktop,
.row_circle_btn_content.desktop {
    
    display: none;
    
}

.row_buttons_circle {
    
    width: 70%;
    
}

.row_contact_map {
    
    .et_pb_column {
        
        min-height: unset;
        
        &:last-child {
            
            padding: 0 !important;
            
        }
        
    }
    
}

.row_diagram {
    
    max-width: 870px !important;
    
}

.row_euphoric_blurbs {
    
    width: 90%;
    
}
/******* Sections and Rows end *******/

/*** fullwidth header module start ***/
.et_pb_fullwidth_header {    
    
    .et_pb_fullwidth_header_container {
                
        width: 90%;
        
        .header-content{
            
            margin: 20px 0 !important;
            padding: 0 !important;
            background: unset;
            
        }
        
    }
    
    .et_pb_header_content_wrapper {
        
        @include karma_medium();
        background: rgba($color-blue-a, 0.6);
        /*font-family: $font_majesti_book;*/
        padding: 5px 15px 6px;
        
        .contain_head{
            
            display: inline;
            
            &:last-child{
                
                padding-left: 4px;
                
                h1 {                    
                    
                    opacity: 0;
                    
                }
                
            }
            
        }
        
        h1{            
            
            color: $white !important;
            display: inline;
            
        }
        
    }
    
    .et_pb_fullwidth_header_scroll {
        
        a {

            @include animation(bobbing, 2s, infinite);
            @include transform_origin(center bottom);
            @include transition(all .5s ease-in-out);
            box-shadow: inset 0 0 0 0 rgba($color-yellow-d, .8);
            border-radius: 50%;
            
            .et-pb-icon {
                
                @include transform(translateX(-1.5px));
                @include transition(color .5s ease-in-out);
                color: rgba($color-yellow-d, 0.6);
                
            }

            &:hover {
                
                @include transform(translateY(8px));
                animation: none;
                box-shadow: inset 0 0 0 4px rgba($color-yellow-d, .8);
                
                .et-pb-icon {
                    
                    color: rgba($color-yellow-d, 0.8);
                    
                }
                
            }
            
        }
        
    }
    
}

#registry_head {
    
    .et_pb_header_content_wrapper {
        
        h1{            
            
            color: $white !important;
            
        }
        
    }
    
}

#header_modal_btns {
    
    .et_pb_more_button {
        
        @extend .btn-solid-yellow;
        @include transition(opacity .5s ease-in-out);
        margin-left: 0;
        margin-top: 25px;
        opacity: 0;
        
        &:hover {
            
            background: $white !important;
            
        }
                
    }
    
    .et_pb_button_one {
        
        display: none !important;
        
    }
    
}

/**** fullwidth header module end ****/

/********* Text module start *********/
.et_pb_text {
    
    color: rgba($color-grey-d, .7);
    
    h2 {
        
        @include karma_reg();
        /*font-family: $font_majesti_medium;*/
        text-transform: uppercase;
        
    }
    
    ul, ol {
        
        list-style-position: outside;
        padding-left: 1.2em;
        padding-top: .5em;
        
    }
    
    li {

        &:not(:last-child) {

            padding-bottom: .4em;

        }
        
        ul, ol {
            
            padding-top: .5em !important;
            
        }

    }
    
}


.text_header_block {
        
    line-height: 2;
    
    h2 {
        
        @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
        @include karma_reg();
        background: $white;
        border: 1px solid;
        display: inline-block;
        /*font-family: $font_majesti_medium;*/
        margin-bottom: 1.8em;
        padding: .5em .3em;
        text-transform: uppercase;
                
    }
    
    
    
}

.text_header_block_yellow {
    
    @extend .text_header_block;
    
    h2 {
        
        border-color: $color-yellow-d;
        
    }
    
}

.text_header_block_green {
    
    @extend .text_header_block;
    
    h2 {
        
        border-color: $color-green-m;
        color: $color-green-m !important;
        
    }
    
}

.text_header_block_yellow.has_subheading,
.text_header_block_green.has_subheading {
    
    h2 {
        
        margin-bottom: 1.3em;
        
    }
    
}

.text_header_block_header_only {
    
    h2 {
        
        margin-bottom: 0;
        
    }
    
}

.text_img_background {
    
    font-family: $font_segoe_sb;
    font-size: 17px;
    color: $color-green-d !important;
    line-height: 1.294 !important;
    
    h2 {
        
        @include karma_reg();
        color: $color-yellow-d !important;
        /*font-family: $font_majesti_medium;*/
        line-height: 1.059;
        text-transform: uppercase;
        
    }
    
    p {
        
        color: inherit !important;
        
    }
    
}

.gradient_text {
    
    color: $white;
    line-height: 1.375;
    text-align: center;
    
    h2, h4 {
        
        color: $white !important;
        text-transform: uppercase;
        
    }
    
    h2 {
        
        @include karma_reg();
        /*font-family: $font_majesti_medium;*/
        
    }
    
    p {
        
        color: inherit;
        
    }
    
}

.optin_cover_text {
    
    text-align: center;
    
    h2 {
        
        color: $white !important;
        @include karma_reg();
        /*font-family: $font_majesti_book;*/
        text-transform: uppercase;
        
    }
    
}

.row_split_content {
    
    .et_pb_text {
        
        line-height: 2;
        
        h2 {
            
            color: $color-grey-d;
            
        }
        
    }
    
}

.text_slidein_content {
    
    display: none;
    height: 100%;
    padding: 1em;
    position: absolute;
    line-height: 1.5 !important;
    width: 100%;
    
    .et_pb_text_inner {
        
        display: table-cell;
        text-align: center;
        vertical-align: top;
        
    }
    
    .text_contain {
        
        background: rgba($white, .8);
        display: inline-block;
        padding: 1em;
        text-align: left;
        
    }
    
    p {
        
        line-height: inherit;
        
    }
    
}

.row_qualifying_criteria_desktop {
    
    .text_slidein_content {
        
        .et_pb_text_inner {
            
            vertical-align: top;
            
        }
        
    }
    
}

.circle_content {
    
    display: none;
    text-align: center;
    line-height: 2;
    
    table {
        
        margin: 30px auto 0;
        max-width: 768px;
        
    }
    
    .table_remark {
        
        font-size: 12px;
        max-width: 768px;
        margin: 0 auto 10px;
        text-align: left;
        
    }
    
}

.circle_content.active {
    
    display: block;
    
}

.btn_circle {

    @include karma_reg;
    @include transition(all .4s ease-in-out);
    background-color: #f6f6f6;
    background-size: 100% !important;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0 rgba($color-yellow-l, 1);
    cursor: pointer;
    display: inline-block;
    /*font-family: $font_majesti_medium;*/
    margin-right: calc(2% - 5px);
    margin-bottom: 0 !important;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 15%;
    z-index: 2;
    
    &:last-child {
        
        margin-right: 0;
        
    }
    
    .et_pb_text_inner {
        
        @include transition(all .4s ease-in-out);
        border-radius: 50%;
        box-shadow: inset 0 0 0 2px rgba($color-yellow-d, 1);
        display: table;
        height: 100%;
        text-align: center;
        width: 100%;
        z-index: 3;
        
    }
    
    h3 {

        border-radius: 50%;
        display: table-cell;
        font-size: 18px !important;
        padding-bottom: 0;
        vertical-align: middle;

    }
    
    &:hover {
        
        .et_pb_text_inner {
            
            box-shadow: inset 0 0 0 6px rgba($color-yellow-d, 1);
            
        }
        
    }
    
}

.btn_circle.active {
    
    box-shadow: inset 0 0 0 100px rgba($color-yellow-l, 1);
    
    .et_pb_inner {
        
        box-shadow: inset 0 0 0 4px rgba($color-yellow-d, 1);
        
    }
    


}

.btn_cirlcle_content {
    
    display: none;
    
}

.btn_cirlcle_content.active {
    
    display: block;
    
}
/********** Text module end **********/

/******** Image module start *********/
.img_text {
    
    .et_pb_image_wrap {
        
        margin: 0 auto;
        max-width: 82px;
        
    }
    
}

#img_logo_jaltech {
    
    max-width: unset;
    
    .et_pb_image_wrap {
        
        img {
            
            max-height: 73.41px;
            width: 176px;
            
        }
        
    }
    
}

.blurbs_logo {
    
    margin: 0 auto !important;
    max-width: 550px;
    padding-top: 30px;
    text-align: center;
    
    .et_pb_image_wrap {
        
        max-width: 82px;
        
    }
    
}

.inline_logo_img_text {
    
    text-align: center;
    
    .inline_logo {
        
        display: inline-block;        
        
        &:first-child {

            img {
                
                max-width: 85px;
                
            }

        }
        
        img {
            
            max-height: 75px;
            width: 100%;

            
        }
        
    }
    
}
/********* Image module end **********/

/******* Contact module start ********/
.et_pb_contact_form_container {
    
    .et_pb_contact_form {
        
        margin-left: 0;
        
        .et_pb_contact_field {
            
            padding-left: 0;
            
        }
        
    }
    
    .et_contact_bottom_container {
        
        padding-top: 5px;
        width: 100%;        

    }
    
    .et_pb_contact_submit {

        @extend .form-btn;

    }
    
}

.contact_yellow {

    .et_pb_contact_submit {

        background: $color-yellow-d;
        border-color: $color-yellow-d;

        &:hover {

            border-color: $color-yellow-d !important;
            color: $color-yellow-d !important;

        }

    }

}

.contact_green {


    .et_pb_contact_submit {

        background: $color-green-m !important;
        border-color: $color-green-m !important;

        &:hover {

            border-color: $color-green-m !important;
            color: $color-green-m !important;

        }

    }

}
/********* Contact module end *********/

/******** Person module start ********/
.line_code {
    
    display: none;
    background: #707070;
    margin-bottom: 0 !important;
    height: 85px;
    width: 1px;
    margin-left: 100px;
    z-index: 0;
    
}

.et_pb_team_member {
        
    margin-bottom: 85px !important;    
    z-index: 5;
    
    .et_pb_team_member_image {
        
        @include transition(all .3s ease-in-out);
        border-radius: 50%;
        
        max-width: 200px;
        margin: 0 auto 20px;
        position: relative;
        z-index: 3;
        
        &::before {

            @include transition(all .5s ease-in-out);
            border: 3px solid transparent;
            border-radius: 50%;
            box-shadow: inset 0 0 0 0 rgba($color-yellow-d, .6);
            content: '';
            height: 200px;
            left: -3px;
            position: absolute;
            top: -3px;
            width: 200px;

        }
        
        img {
            
            border-radius: 50%;            
            
        }
        
    }
    
    .et_pb_team_member_description {
        
        .et_pb_module_header {
            
            @include karma_reg();
            /*font-family: $font_majesti_medium;*/
            margin-bottom: 20px;
            padding-bottom: 0;
            text-transform: uppercase;
            
        }
        
        p {
            
            line-height: 1.375;
            
        }
        
    }
    
    &:hover {
        
        .et_pb_team_member_image {
                        
            &::before {
                
                box-shadow: inset 0 0 0 10px rgba($color-yellow-d, .6);
                
            }
            
        }
        
    }
    
}

/********* Person module end *********/

/******** Toggle module start ********/

.et_pb_toggle_content {

    ul, ol {

        list-style-position: outside;
        padding-left: 1.2em;
        padding-top: .5em;

    }

    li {

        line-height: 1.3;

        &:not(:last-child) {

            padding-bottom: .4em;

        }

        ul, ol {

            padding-top: .5em !important;

        }

    }

}

.et_pb_toggle_title {
    
    padding-right: 0 !important;
    
    &::before {
        
        display: none;
        
    }
    
}

.toggle_person {
    
    @include clearfix;
    background: transparent !important;
    border: 0;
    padding: 0;
    position: relative;
    
    .et_pb_toggle_title {
        
        bottom: -45px;
        color: $color-yellow-d !important;
        font-size: 17px;
        font-weight: bold;
        left: 0;
        padding: 20px 0 0 !important;
        position: absolute !important;
        text-transform: uppercase;
        z-index: 5;
        
    }
    
    .et_pb_toggle_content {

        line-height: 1.375;
        
    }
   
}

.toggle_split_section {
    
    @include transition(all .3s ease-in-out);
    border-color: $color-yellow-d;
    
    .et_pb_toggle_title {
        
        @include karma_reg();
        color: $color-grey-l !important;
        /*font-family: $font_majesti_medium;*/
        font-size: 26px;
        
        
    }
    
}

.toggle_split_section.et_pb_toggle_open {
    
    @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
    
}

.toggle_qualifying {
    
    background: transparent !important;
    
}

.toggle_qualifying.et_pb_toggle_open {
    
    background: $white !important;
    
}

.et_pb_toggle_content {

    ol, ul, li {

        color: rgba($color-grey-d, .7) !important;

    }

}
/********* Toggle module end *********/

/****** Accordion module start *******/
.module_accordion_content {
    
    .et_pb_toggle_title {
        
        @include karma_reg();
        color: $color-grey-l !important;
        /*font-family: $font_majesti_medium;*/
        font-size: 22px;
        
    }
    
    .et_pb_toggle_content {
        
        table {
            
            font-size: 10px;
            
        }
        
    }
    
    .et_pb_accordion_item {
        
        @include transition(all .3s ease-in-out);
        background: transparent !important;
        border-color: $color-yellow-d;
        
    }
    
    .et_pb_accordion_item.et_pb_toggle_open {
        
        @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
        
    }
    
}
/******* Accordion module end ********/

/******* Investors Slider start *******/
.investors_slider {
    
    width: 96%;
    
    .et_pb_testimonial {
        
        padding: 15px;
        
        .et_pb_testimonial_portrait {
            
            height: 170px;
            width: 170px;
            
            &::before {
                
                display: none;
                
            }
            
        }
        
        .et_pb_testimonial_description {
            
            p {
                
                line-height: 1.375;
                
            }
            
        }
        
        .et_pb_testimonial_author {
            
            font-size: 17px;
            font-weight: bold;
            text-transform: uppercase;
            
        }
        
    }
    
    .slick-dots {
        
        padding: 0;
        
        li {
           
            background: $color-green-l;
            border-radius: 50%;
            height: 15px;
            opacity: .28;
            width: 15px;
            
            button {
                
                display: none;
                
            }
            
        }
        
        .slick-active {
            
            opacity: 1;
            
        }
                
    }
    
}
/******** Investors Slider end *******/

/******* Infusionsoft form start ********/
.infusionsoft-form {
    
    p {
        input[type="text"],
        input[type="password"],
        input[type="datetime"],
        input[type="datetime-local"],
        input[type="date"],
        input[type="month"],
        input[type="time"],
        input[type="week"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        input[type="search"],
        input[type="tel"],
        input[type="color"],
        select,
        textarea {
            font-size: 16px;
        }
    }
    
    .et_contact_bottom_container {
        float: none;
        text-align: center;
    }
    
    .et_pb_contact_submit {
        @extend .form-btn;
        background: $accent-color;
        border-color: $accent-color;
        color: $button_text_color;
        width: 100%;
        margin: 0;
    }
}
/******* Infusionsoft form end ********/

/***** Optin Sliding module start ****/
.optin_module_proper {
    
    .et_pb_newsletter_description {
        
        display: none;
        
    }
    
    .et_pb_newsletter_form {
        
        p {
            
            padding-bottom: 0;
            
        }
        
        input {
            
            border-radius: 0;
            
        }
                
        .et_pb_newsletter_button {
            
            @extend .form-btn;
            background: $color-green-m;
            border-color: $color-green-d;
            
            &:hover {
                
                border-color: $color-green-d !important;
                color: $color-green-m !important;
                
            }
            
        }
        
    }

}
/****** Optin Sliding module end *****/

/********* Tabs module start *********/
.et_pb_tabs {
    
    border-color: $color-yellow-d;
    
    .et_pb_tabs_controls {
        
        border-color: inherit;
        
        li {
            
            @include karma_reg();
            @include transition(all .3s ease-in-out);
            border-color: inherit;
            /*font-family: $font_majesti_medium;*/
            font-size: 26px;
            font-weight: 400;
            line-height: 1.385;
            
            a {
                
                color: $color-grey-l !important;
                padding: 15px;
                
            }
            
        }
        
    }
    
    .et_pb_tab {
        
        background: $white;
        padding: 15px;
        
    }
    
}
/********** Tabs module end **********/

/********* Blurb module start ********/
.blurb_num_line_code,
.blurb_color_line_code {
    
    @extend .line_code;
    
}

.blurbs_line {
    
    margin-bottom: 60px !important;
    
    &:last-child {
        
        margin-bottom: 0 !important;
        
    }
    
    .et_pb_main_blurb_image,
    .et_pb_blurb_container {
        
        display: block;
        
    }
    
    .et_pb_main_blurb_image {
        
        border-radius: 50%;
        height: 82px;
        margin: 0 auto 30px;
        width: 82px;
        z-index: 3;
/*        
        &::before {
            
            background: #707070;
            content: '';
            display: none;
            height: 100%;
            left: 50%;
            position: absolute;
            top: 82px;
            width: 1px;
            z-index: 2;
            
        }*/
        
        .et_pb_image_wrap {
            
            border-radius: 50%;
            height: 100%;
            width: 100%;
            
            span {
                
                display: none;
                
            }
            
            &::before {
                
                border-radius: 50%;
                content: '';
                display: block;
                height: 100%;
                line-height: 2.7;
                width: 100%;
                
            }
            
        }
        
    }
    
    .et_pb_blurb_container {
        
        padding-left: 0;
        
    }
    
}

.blurbs_num {
    
    /*@include transition(all .1s ease-in-out);*/
    
    .et_pb_main_blurb_image {
        
        .et_pb_image_wrap {
            
            border: 2px solid $color-yellow-d;
            
            &::before {
                
                @include karma_reg();
                @include transition(box-shadow 1s ease-in-out);
                background: #ebebeb;
                /*font-family: $font_majesti_medium;*/
                font-size: 28px;
                text-align: center;
                
            }
            
        }
        
    }
    
    .et_pb_blurb_description {
        
        line-height: 1.375;
        
    }
    
    &:hover {

        .et_pb_main_blurb_image {

            .et_pb_image_wrap {

                &::before {

                    box-shadow: inset 0 0 0 100px rgba($color-yellow-l, 1);

                }

            }

        }

    }
    
    
    
    
}

@for $i from 1 through 7 {

    .blurbs_num_#{$i} {

        .et_pb_main_blurb_image {

            .et_pb_image_wrap {

                &::before {

                    content: '#{$i}.';

                }

            }

        }

    }
}

.blurb_color {
    
    .et_pb_blurb_content {

        .et_pb_main_blurb_image {

            height: 112px !important;
            width: 112px !important;
            
            .et_pb_image_wrap {
                
                @include transition(box-shadow .5s ease-in-out);
                background: $img-fav-d no-repeat !important;
                background-position: 50% !important;
                background-size: 75% !important;
                
            }
            
            &::before {
                
                height: calc(100% - 112px);
                top: 112px;
                
            }

        }

    }

}


    
@each $i, $color in $list_color_blurbs {

    .blurb_color_#{$i} {

        .et_pb_blurb_content {

            .et_pb_main_blurb_image {

                .et_pb_image_wrap {
                    
                    box-shadow: inset 0 0 0 56px rgba($color, 1);
                    background-color: rgba($color, .1) !important;

                }

            }

        }

        &:hover {

            .et_pb_blurb_content {

                .et_pb_main_blurb_image {

                    .et_pb_image_wrap {

                        box-shadow: inset 0 0 0 4px rgba($color, 1);

                    }

                }

            }

        }

    }

}

.opportunity_blurb {
    
    @include transition(all .3s ease-in-out);
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    
    .et_pb_blurb_content {
        
        @include transition(all .3s ease-in-out);
        /*box-shadow: inset 0 0 0 0 rgba($color-yellow-d, .8);*/
        height: 100%;
        padding: 10% 0;
                
    }
    
    .et_pb_main_blurb_image {
        
        .et_pb_image_wrap {
            
            img {
                
                max-height: 120px;
                
            }
            
        }
        
    }
    
    .et_pb_blurb_description {
        
        padding: 0 5%;
        text-align: center;
        
        p {
            
            line-height: 1.7;
            
        }
        
    }
    
    &:hover {
        
        @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
        
        .et_pb_blurb_content {
                        
            @include box_shadow(inset 0 0 0 1px rgba($color-yellow-d, .8));
            
        }
        
    }
    
}

.stacked_blurb.mobile {
    
    .et_pb_blurb_description {
        
        line-height: 2;
        text-align: center;
        
    }
    
    &:last-child {
        
        margin-bottom: 30px !important;
        
    }
    
}

.euphoric_blurb {

    @extend .opportunity_blurb;

    .et_pb_blurb_content {
        
        /*@include box_shadow(inset 0 0 0 1px rgba($color-yellow-d, .8));*/
        background: $white;
        
    }
    
    .et_pb_image_wrap {

                  

    }
    
    .et_pb_blurb_container {
        
        padding: 0 5%;        

    }
    
    .et_pb_module_header {
        
        color: $color-yellow-m;
        font-weight: 900;
        padding-bottom: 1em;
        text-align: center;
        
    }
    
    .et_pb_blurb_description {

        padding: 0;
        text-align: left;
        
        li {
            
            line-height: 1.375;
            padding-bottom: 1em;
            
            &:last-child {
                
                padding-bottom: 0;
                
            }
            
        }

    }
    
    &:hover {
        
        .et_pb_blurb_content {
            
            
            
        }        
        
    }

}
/********** Blurb module end *********/

/********** Blog module start ********/
.blog_header {
    
    .et_pb_slide {
        
        background-attachment: fixed;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding: 0;
        width: 100%;
        
        .et_pb_container {
            
            min-height: calc(100vh - 80px);
            width: 90%;
            
        }
        
        .et_pb_slider_container_inner {
            
            text-align: left;
            
        }
        
        .et_pb_slide_description {
            
            background: rgba($color-blue-a, 0.6);
            padding: 5px 15px 0;
            
        }
        
        .et_pb_slide_title {
            
            font-size: 34px;
            padding-bottom: 0;
            
        }
        
        .et_pb_slide_content {
            
            display: none;
            
        }
        
        .et_pb_slide_overlay_container {

            position: absolute;
            bottom: 0;
            max-height: 86px;
            padding: 10px 0 20px;
            text-align: center;
            top: unset;
            z-index: 99;
            
            a {

                @extend .icon-arrow-carrot-down;
                @include animation(bobbing, 2s, infinite);
                @include transform_origin(center bottom);
                @include transition(all .5s ease-in-out);
                box-shadow: inset 0 0 0 0 rgba($color-yellow-d, .8);
                border-radius: 50%;
                cursor: pointer;
                display: inline-block;
                height: 56px;
                width: 56px;

                &::before {

                    @include transform(translateX(-1.5px));
                    @include transition(color .5s ease-in-out);
                    box-sizing: border-box;
                    color: rgba($color-yellow-d, .6);
                    display: inline-block;
                    font-size: 3.5em;
                    line-height: 1;
                    padding: 0;                

                }

                &:hover {

                    @include transform(translateY(8px));
                    animation: none;
                    box-shadow: inset 0 0 0 4px rgba($color-yellow-d, .8);

                    &::before {

                        color: rgba($color-yellow-d, .8);

                    }

                }

            }

        }
                
    }
    
}

.blog_overlay_module_grid {
    
    .et_pb_post {

        border: 0;
        position: relative;
        padding: 0;
        overflow: hidden;
        
        &:hover {
            
            .entry-title,
            .post-content {
                
                @include transform(translateY(0));
                
            }
            
        }

    }
    
    .et_pb_image_container {
        
        margin: 0;
        
        a {
            
            margin-bottom: 0;
            
        }
        
    }
    
    .entry-title {

        /*@include transform(translateY(-100%));*/
        @include karma_reg();
        @include transition(all .5s ease-in-out);
        position: absolute;
        top: -1px;
        font-size: 16px;
        color: $white;
        padding-bottom: 0;
        height: calc(100% + 2px);
        width: calc(100% + 2px);
        left: -1px;
        text-align: center;
        
        a {
            
            background: rgba(#000, 0.6);
            padding: 10px 6%;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            
        }

    }
    
    .post-content {
        
        @include transition(all .5s ease-in-out);
        background: rgba(#000, 0.6);
        bottom: 0;
        color: $white;
        display: none;
        padding: 10px 5%;
        position: absolute;
        
        p {
            
            color: inherit;
            
        }
        
    }
    
}
/********** Blog module end **********/

/********** Single Post start ********/
.single {
    
    #main-content {
        
        >.container {
            
            padding-top: 30px;
            width: 90%;
            
            &::before {
                
                display: none;
                
            }
            
        }
        
    }
    
    #left-area {
        
        float: none;
        padding-right: 0;
        width: 100%;
        
    }
    
    .ws_single_title_contain,
    .ws_single_excerpt_contain,
    .ws_single_meta_contain,
    .ws_single_feat_img_contain {
        
        margin: 0 auto 50px;
        text-align: center;
        
    }
    
    .ws_single_title_contain {
        
        max-width: 800px;
        
    }
    
    .ws_single_excerpt_contain {
        
        max-width: 550px;
        
        p {
            
            line-height: 2;
            
        }
        
    }
    
    .ws_single_feat_img_contain,
    .entry-content {
        
        max-width: 1080px;
        
    }
    
    .entry-title {

        @include box_shadow(0px 3px 6px 0px rgba(0,0,0,0.16));
        @include karma_medium();
        background: $white;
        border: 1px solid $color-yellow-d;
        display: inline-block;
        font-size: 24px;
        padding: .5em .3em;
        text-transform: uppercase;

    }
    
        
    .ws_single_meta {
        
        line-height: 2;
        
        span {
            
            display: inline-block;
            width: 100%;
            
        }
        
        .ws_meta_div {
            
            background: rgba($color-yellow-d, .6);
            border-radius: 50%;
            display: none;
            height: 10px;
            margin: 0 8px 0 10px;
            width: 10px;
            
        }
        
        .span-reading-time {
            
            margin-left: -4px;
            
        }
        
    }
    
    .entry-content {
        
        margin: 0 auto;
        padding: 0 5%;        
        
        p {
            
            line-height: 1.375;
            
        }
        
        ul, ol, li {
            
            color: rgba($color-grey-d, .7);
            line-height: 1.375;
            
        }
        
        ul, ol {
            
            list-style-position: outside;
            padding-left: 1em;
                        
        }
        
        li {
            
            padding-bottom: .375em;
            
            &:last-of-type {
                
                padding-bottom: 0;
                
            }
            
        }
        
    }
    
    .et_social_inline_top {
        
        .et_social_icons_container {
            
            li {
                
                display: inline-block;
                float: none;
                clear: none !important;
                width: auto !important;
                margin-left: 0 !important;
                margin-right: 10px !important;
                padding-bottom: 0;
                
                &:last-child {
                    
                    margin-right: 0 !important;
                    margin-top: 0 !important;
                    
                }
                
            }
            
        }
        
    }
    
    .et_social_inline_bottom {
        
        display: none;
        
        .et_social_icons_container {
            
            li {
                
                &:last-child {
                    
                    margin-bottom: 0 !important;
                    
                }
                
            }
            
        }
        
    }
    
}
/*********** Single Post end *********/

/*************************************/
/************* Main End **************/
/*************************************/

/*************************************/
/*********** Footer Start ************/
/*************************************/

#main-footer{
    
    >.container{
        
        max-width: 1366px;
        
    }
    
}

.footer-widget {

    .widget_media_image {
        
        float: none;
        text-align: center;
        
    }
    
    .widget_nav_menu {
        
        width: 100%;
                
    }
    
    #menu-footermenu {
        
        @extend #mobile_menu;
        
        .menu-item {
            
            &::before {
                
                display: none;
                
            }
            
            a {
                
                &::before {
                    
                    @include transform(translateX(-20px));
                    
                }
                
                &:hover {
                    
                    background: transparent;
                    
                    &::before {
                        
                        @include transform(translateX(-12px));
                        
                    }                    
                    
                }
                
            }
            
            &:nth-last-child(2) {
                
                margin-bottom: 9.5%;
                
            }
            
            &:last-child {
                
                padding-left: 0;
                margin-bottom: 0;
                
                a {
                    
                    display: inline-block;
                    width: 100%;
                    padding: 10px 5%;
                    
                }
                
            }
            
        }
        
        .current_page_item {
            
            a {
                
                background: transparent;
                
                &::before {

                    @include transform(translateX(-12px));

                } 
                
            }
            
        }
        
    }
    
    .widget_monarchwidget {
        
        .et_social_icons_container {
            
            li {
                
                width: 100% !important;
                
            }
            
        }
        
    }
    
    .textwidget {

        color: $white;
        
        p {
            
            color: inherit;
            
        }

    }

}

/*************************************/
/************ Footer End *************/
/*************************************/

.contact_details_text {
    
    p {
        
        font-size: 20px;
        line-height: 1.3;
        
    }
    
    .contact_detail {
        
        font-size: 16px;
        
    }
    
}


.section_modal {
    
    background: rgba(#000, .5) !important;
    display: table;
    padding: 0 8%;
        
}

.modal_content {
    
    display: table-cell;
    padding: 0;
    vertical-align: middle;
    
    .et_pb_button_module_wrapper {
        
        text-align: right;
        
    }
    
}

.modal_close_btn {
    
    @extend .icon-close;
    background: transparent !important;
    border: 0 !important;
    font-size: 0 !important;
    
    &::before {
        
        display: inline-block !important;
        color: $color-yellow-d !important;
        margin-left: -.8em;
        opacity: 1;
        padding-right: 0;
    }
    
    &:hover {
        
        background: transparent !important;
        
    }
    
}

#modal-home-ebook-mobile-content,
#modal-ebook-mobile-content,
#modal-schedule-mobile-content {

    .modal_close_btn {

        &:hover {

            background: transparent !important;

        }

    }

}

.ebook_optin {
    
    background: #f3f2f1;
    border: 2px solid $color-yellow-d;
    padding: 2% !important;
    
    .et_pb_newsletter_description {
        
        color: $color-grey-d !important;
        text-align: center;
        
        h3 {
            
            color: inherit !important;
            
        }
        
    }
    
    .et_pb_module_header {
        
        @include karma_reg();
        color: $color-grey-d !important;
        /*font-family: $font_majesti_medium;*/
        text-transform: uppercase;
        
    }
    
    .et_pb_newsletter_form {
        
        p {
            
            padding-bottom: 0;
            
        }
        
        input {
            
            border-radius: 0;
            
        }
        
        .et_pb_newsletter_button {
            
            @extend .btn-solid-yellow;
            
            &:hover {
                
                background: $white !important;
                
            }            
            
        }
        
    }
    
}

.section_modal {

    .modal_content_ebook.desktop {

        .et_pb_column {

            float: none;
            margin: 0 auto !important;
            max-width: 1148px;

        }

    }
    
    .schedule_modal.desktop {

        .et_pb_column {

            max-width: 900px;

        }
        
        .et_pb_button_module_wrapper {
            
            margin-bottom: 0 !important;
            
        }
        
        .schedule_modal_content.desktop {
            
            border: 2px solid $color-yellow-d;
            
        }              

    }

}

.section_modal.mobile {
    
    background: #f3f2f1 !important;
    display: block;
    padding: 0 !important;
    
    .modal_content_ebook {
        
        border: 0 !important;
        display: block;
        
        .et_pb_button_module_wrapper {
            
            margin-bottom: 0 !important;
            padding-top: 15px !important;
            text-align: center;
            width: 100%;
            
            h3 {
                
                font-size: 20px !important;
                
            }
            
        }
        
        .modal_close_btn {
            
            width: 100%;
            
            &::before {
                
                margin: 0 !important;
                position: relative;
                
            }
            
        }
        
    }
    
    .ebook_optin {
        
        border: 0;
        
        .et_pb_module_header {
            
            font-size: 26px;            
            
        }
        
        .et_pb_newsletter_description {
                        
            img {
                
                max-width: 40%;
                
            }
            
        }
        
        .et_pb_newsletter_form {
            
            padding: 0 6%;
            
            input {

                margin-bottom: 15px;

            }
            
        }
        
    }
    
}

.modal_content_ebook.desktop {
    
    .et_pb_column {
        
        width: 100%;
        
    }
    
    .modal_content_col {
        
        background: #f3f2f1;
        border: 2px solid $color-yellow-d;
        display: table;
        padding: 2%;
        width: 100%;
        
    }
    
    .modal_close_btn {
        
        top: -22px;
        
    }
    
    .code_ebook_form,
    .modal_ebook_content {
        
        display: table-cell;
        vertical-align: top;
        width: 50%;
        
    }
    
}

/********* Animations start **********/

@keyframes bobbing {

    0% {
        
        @include transform(translateY(8px));
        
    }
    50% {
        
        @include transform(translateY(4px));
        
    }
    100% {
        
        @include transform(translateY(8px));

    }

}

.arrow_contain,
.arrow_shadow,
.block_contain,
.block_shadow,
.property_arrow_contain_top,
.property_arrow_contain_bottom,
.line_description {
    
    @include transition(all .5s ease-in-out);
    
}

.block_text,
.line_description text {
    
    cursor: default;
    
}

#main_svg {
    
    position: relative;
    z-index: 2;
    
}

.svg_registry_note{
    
    cursor: pointer;
    
}

/*#main_svg,*/

#main_diagram {

    .block_contain,
    .arrow_shadow,
    .arrow_point,
    .line_description {

        opacity: 0;

    }

    .block_contain,
    .line_description {

        animation-duration: .5s;

    }

    .you_arrow_contain_1,
    .euphoric_arrow_contain_2 {

        .arrow_line {

            stroke-dasharray: 71;
            stroke-dashoffset: 71;

        }

    }

    .euphoric_arrow_contain_3,
    .property_arrow_contain_2,
    .spv_arrow_contain_2,
    .spv_arrow_contain_3 {

        .arrow_line {

            stroke-dasharray: 146;
            stroke-dashoffset: 146;

        }

    }

    .euphoric_arrow_contain_1 {

        .arrow_line {

            stroke-dasharray: 266;
            stroke-dashoffset: 266;

        }

    }

    .spv_arrow_contain_1 {

        .arrow_line {

            stroke-dasharray: 320;
            stroke-dashoffset: 320;

        }

    }

    .leisure_arrow_contain_1 {

        .arrow_line {

            stroke-dasharray: 568;
            stroke-dashoffset: 568;

        }

    }

    .property_arrow_contain_top {

        .arrow_line {

            stroke-dasharray: 637;
            stroke-dashoffset: 637;

        }

    }

    .property_arrow_contain_bottom {

        .arrow_line {

            stroke-dasharray: 788;
            stroke-dashoffset: 788;

        }

    }

    .display_svg_point {

        @include transition(opacity .5s ease-in_out);
        opacity: 1;

    }

    .display_arrow_shadow {

        opacity: 1;

    } 

}

/********** Animations end ***********/