/******************************************************************
Stylesheet: Styles for between specific ranges
******************************************************************/

/*************************************/
/************ Main Start *************/
/*************************************/
@include media(600){
    
    /********* Text module start *********/
    .text_img_background {

        .text_sep {

            display: inline-block;
            width: 100%;

        }

    }
    /********** Text module end **********/
    
}
/*************************************/
/************* Main End **************/
/*************************************/