@mixin transform($s) {    
    -webkit-transform: $s;
            transform: $s;
}

@mixin transform_origin($s) {
    -webkit-transform-origin: $s;
            transform-origin: $s;
}

@mixin transition($s) {    
    -webkit-transition: $s;
            transition: $s;
}

@mixin transition_delay($s) {    
    -webkit-transition-delay: $s;
            transition-delay: $s;
}

@mixin box_shadow($s) {    
    -webkit-box-shadow: $s;
       -moz-box-shadow: $s;
            box-shadow: $s;
}

@mixin flex_box {
    
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    
}

@mixin clearfix {    
    &::before, &::after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }    
}

@mixin headSizes($sizes) {
    @each $e, $size in $sizes {
        h#{$e} {
            font-size: $size + px !important;
        }
    }
}

@mixin media($x) {
    @media screen and (min-width: $x + 'px'){
        @content;
    }
}

@mixin pt_serif($weight: '') {
    
    font-family: 'PT Serif',Georgia,"Times New Roman",serif;
    
    @if $weight == '' {
        
        font-weight: 900;
        
    } @else {
        
        font-weight: $weight;
        
    }
    
}

@mixin gincra_bold() {
    
    font-family: $font_gincra_bold;
    
}

@mixin gincra_sb() {
    
    font-family: $font_gincra_sb;
    
}

@mixin karma_medium() {
    
    font-family: $font_karma_reg;
    
}

@mixin karma_reg() {
    
    font-family: $font_karma_med;
    
}

@mixin animation($name, $duration, $count) {
            -webkit-animation-duration: $duration;
                    animation-duration: $duration;  
                    
           -webkit-animation-fill-mode: both;
                   animation-fill-mode: both;
                   
     -webkit-animation-iteration-count: $count;
             animation-iteration-count: $count; 
             
                -webkit-animation-name: $name;
                        animation-name: $name;                        
}