/******************************************************************
Stylesheet: Generated Variables

Sass variables generated from theme customizer.

******************************************************************/

/*********************
COLORS
*********************/

$accent-color:          #faa634;
$accent-color-alt:      #ffffff;
$accent-color-alt-2:    #ffffff;
$accent-color-alt-3:    #ffffff;
$text-color:            #31302e;
$link-color:            #faa634;

/*********************
BUTTONS
*********************/

$button_text_size:              22px;
$button_text_color:             #ffffff;
$button_bg_color:               #faa634;
$button_border_width:           1px;
$button_border_color:           #faa634;
$button_border_radius:          0px;
$button_icon_content:           '\35';
$button_spacing:                0px;
$button_icon_color:             #ffffff;
$button_text_color_hover:       #faa634;
$button_bg_color_hover:         #ffffff;
$button_border_color_hover:     #faa634;
$button_border_radius_hover:    1px;
$button_spacing_hover:          0;
$button_icon_size:              35.2px;
$button_icon_placement:         'right';
$button_icon_on_hover:          'yes';
$button_use_icon:               'no';

/*********************
FONTS
*********************/

$font-size:         16px;

.button {
    ;
    font-family: 'none', sans-serif;;
}

