/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;

$menu-grey:         #707070;

$color-grey-d:      #31302e;
$color-grey-m:      #454241;
$color-grey-l:      #4d5150;

$color-yellow-d:    $accent-color; // #faa634
$color-yellow-m:    #fcba63;
$color-yellow-l:    #fed095;

$color-green-d:     #0b3e40;
$color-green-m:     #0f5f5d;
$color-green-l:     #15a18c;

$color-blue-a:      #3f67a7;

//lists
$list_color_blurbs: (1, $color-green-l)
                    (2, $color-green-m)
                    (3, $color-green-d)
                    (4, $color-yellow-d);

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

/*
Fonts
*/

//Segoe UI
@font-face {
    font-family: 'Segoe UI Regular';
            src: url('../fonts/segoeui/segoeui.ttf'),
                 url('../fonts/segoeui/segoeui.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Segoe UI SemiBold';
            src: url('../fonts/segoeui/seguisb.ttf'),
                 url('../fonts/segoeui/seguisb.ttf')  format('truetype'); /* Safari, Android, iOS */
}

//Gill Sans
@font-face {
    font-family: 'Gill Sans Bold';
            src: url('../fonts/gill/GillSansStd-Bold.otf'),
                 url('../fonts/gill/GillSansStd-Bold.otf')  format('opentype'); /* Safari, Android, iOS */
}

//font variables
$font_segoe_reg:        'Segoe UI Regular', 'Open Sans', sans-serif;
$font_segoe_sb:         'Segoe UI SemiBold', 'Open Sans', sans-serif;

$font_gill_b:          'Gill Sans Bold', 'Open Sans', sans-serif;

$font_karma_reg:        'Karma',Georgia,"Times New Roman",serif;
$font_karma_med:        'Karma',Georgia,"Times New Roman",serif;


/*
*   Img url   
*/

$img-fav-d: url(../img/fav_logo.svg);